
<div *ngIf="course" class="course-card" [ngClass]="cardClasses()">
    @if(course){  
    <div class="course-title">
        {{course.description}}
      {{index}}  {{course.description}}
    </div>
     @if(course.iconUrl){
        <img  width="300" alt="Angular Logo" [src]="course.iconUrl"/>
        }
    @else { 
        <h2>No image available!</h2>
    }
    <div class="course-description">
        {{course.longDescription}}
    </div>
    <div class="course-category">
        @switch (course.category) {
            @case ("BEGINNER") {
                <div class="category">Beginner</div>
        }
            @case  ("INTERMEDIATE"){
                <div class="category">Intermediate</div>
                
            }
            @case  ("ADVANCED"){
                <div class="category">Advanced</div>
            }
            @default
            {
                <div class="category">Unknown</div>
            }
        }
    </div>
    <div>
        <button class="container" (click)="onCourseViewed()">Viewe Course</button>
    </div>
}@else{
<p>No Course Found!</p>
}
</div>


