    <!-- Header  -->
    <nav class="navbar header " role="navigation" aria-label="main navigation" >
      <div class="navbar-brand">

        <a class="navbar-item" routerLink="/home">
          MyCompany
        </a>

        <a class="navbar-burger" role="button" aria-label="menu"
          aria-expanded="false" (click)="toggleNav = !toggleNav;"
          [ngClass]="{'is-active': toggleNav }">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu"
        [ngClass]="{'is-active': toggleNav }">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            Home
          </a>

          <a class="navbar-item" routerLink="/todos" routerLinkActive="active">
            Todos
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-success">
                Log out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Header  -->
    <router-outlet></router-outlet>
    <!-- Footer  -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>MyCompany</strong> &copy; 2025 Todos.com
        </p>
      </div>
    </footer>
    <!-- Footer  -->
